.profile_img{
    height: 100%;
    width: 70%;
    border: 1px solid lightgrey;
    border-radius: 30px;
    box-shadow: 3px 3px 3px grey;
}
.name{
    width:300px;
    margin: 0 15%;
}
.left-col{
    display: flex;
    /* height: 100vh; */
    min-height: 100vh;
    flex-basis: 100%;
    background: #1f1f1f;
    justify-content: center;
    flex-direction: column;
    color: #e8e8e8;
}
.profile-background{
    flex-basis: 100%;
    min-height: 100vh;
    padding: 0 0 0 15px;
    width: 100%;
    color: white;
}
@media only screen and (max-width: 900px) {
    .profile_img {
        position: fixed;
        top: 1%;
        right: 1%;
        height: 10%;
        width: 25%;
        border: 1px solid lightgrey;
        /* border-radius: 30px; */
        box-shadow: 3px 3px 3px grey;
        image-rendering: pixelated;
        border-radius: 50%;
    }
    .profile-background{
        padding: 0;
        min-height: 100vh;
    }
    .left-col{
        padding: 0;
        min-height: auto;
    }
    .name{
        width: 70%;
        margin: 0 5%;
    }
}